body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.wrapper {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 300vw;
    height: 87.5vh;
    display: flex;
    flex-direction: row;
    transition: left .8s;
}
.wrapper iframe {
    border: none;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.bottom-bar {
height: 12.5vh;
width: 100vw;
position: fixed;
bottom: 0;
left: 0;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
box-shadow: -1px 12px 20px 0px rgba(0,0,0,0.5);
z-index: 5;
}

.bottom-bar i {
    font-size: 250%;
    padding: 5%;
    color: rgba(0,0,0,0.5);
    transition: color .2s, font-size .2s;
}
